<h2>Welcome, {{username}}</h2>

<h3>Your Tasks</h3>
<ul>
  {{#each tasks}}
    <li>
      {{task_desc}} {{#if is_complete}}(Completed){{/if}}
    </li>
  {{/each}}
</ul>

<h3>Add New Task</h3>
<form action="/add_task" method="POST">
  <label for="task_desc">Task:</label>
  <input type="text" name="task_desc" id="task_desc" required>
  <button type="submit">Add Task</button>
  
</form>

<p><a href="/">Logout</a></p>

